code {
    background: black;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}

html, body{
    background-color: #000000;
    color: white;
    overflow-y: hidden;
}

.dropdown-item{
    min-width: 0px !important;
    width: 136px;
}

.dropdown-num{
    flex:1; 
    width: 6em; 
    padding-left: 8px;
}

.flex{
    display: flex;
}

.dark-item {
    background-color: #292b2f;
    color: white;    
}

.pad8800 {
    padding: 8px 8px !important;
}

.pad8080{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.page-button{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.pad0808{
    padding-left: 8px !important;
    padding-right: 8px !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.icon-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    visibility: hidden;
    min-width: 120px;
    max-width: 240px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-tooltip {
    position: relative;
    display: inline-block;
}

.lr-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.lr-padding-4px {
    padding-left: 4px;
    padding-right: 4px;
}

.copy-tooltip {
    display: none;
    position: absolute;
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.table-style{
    border: none;
}

.table-style tr:nth-child(2n){
    background-color: #0f0f0f;
    border-color: #555;
}

.table-style tr:nth-child(2n+1){
    background-color: #1f1f1f;  
    border-color: #555;
}

.table-style tr:hover{
    background-color: #2f2f2f !important;
}

.table-style tr:first-child:hover{
    background-color: rgb(48, 0, 48) !important;
}

.header-color{
    background-color: rgb(48, 0, 48) !important;
}

.th-outline{
    outline: 1px solid #aaa;
    outline-offset: -1px;
}

.inline-button{
    padding: 0px 0px 0px 4px !important;
}

@media only screen and (max-width: 720px) {
    .pad-bar{
        height: 100px;
    }
}

/*
#howToUsePanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
*/